.container {
  padding: 6rem 4rem;
  background-color: transparent;
}

@media screen and (max-width: 870px) {
  .container {
    padding: 5rem 2rem;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding: 5rem 1rem;
  }
}
