.header {
  position: relative;
  z-index: 1;
  margin: 1rem;
}

.navbar {
  border-radius: 15px;
  background-color: var(--blue);
  margin: 0 auto;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.navItems {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.navItem {
  text-transform: capitalize;
  font-size: 1.4rem;
  color: var(--gray);
  z-index: 999;
  font-family: var(--SFUIMedium);
}

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.btnContainer {
  display: flex;
  align-items: center;
}

.navItemsMobile,
.btnContainerMobile {
  display: none;
}

.hamburger {
  display: none;
  z-index: 999;
  position: relative;
}

.whiteBar {
  position: relative;
  z-index: 9999;
  display: block;
  width: 55px;
  height: 3px;
  margin: 5px auto;
  border-radius: 15px;
  background-color: var(--tan);
  transition: all 0.3s ease-in-out;
}

.hamburgerBlack {
  background-color: var(--black);
}

.btnContainerii {
  display: none;
}

@media screen and (max-width: 1168px) {
  .navbar {
    align-items: center;
    justify-content: flex-end;
  }

  .navItems {
    position: fixed;
    right: -100%;
    top: 1rem;
    width: calc(100% - 2rem);
    /* height: calc(90vh - 2rem); */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
    padding-top: 7rem;
    background: var(--blue);
    border-radius: 25px;
    transition: right 0.3s ease-in;
    z-index: 1000;
  }

  .navItems.active {
    right: 1rem;
  }

  .navItem {
    color: var(--tan);
    font-size: 5vw;
    font-family: var(--PPNeueMontrealMediumThick);
    line-height: 1;
    width: 100%;
    padding: 2rem;
  }

  .btnContainer {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 9999;
  }

  .btnContainerii {
    display: block;
  }

  @media screen and (max-width: 568px) {
    .logoContainer {
      left: -1px;
      top: -1px;
      transform: translateX(0%);
    }
  }

  .hamburger.active .whiteBar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
    background-color: var(--tan);
  }

  .hamburger.active .whiteBar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .whiteBar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--tan);
  }
}

/* @media screen and (max-width: 380px) {
  .navbar {
    padding: 2rem 1.5rem;
  }
} */
