.container {
  background-color: var(--gray);
  margin-top: -6rem;
}

.content {
  margin: 1rem;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 3rem;
}

.AdminSideNavContainer {
  position: sticky;
  top: 0;
  align-self: start;
  z-index: 10;
  top: 50px;
}

.right {
  width: 100%;
}

.heading {
  color: var(--blue);
}

.copy {
  color: var(--blue);
  width: 375px;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 50%;
}

.adminBtnContainer {
  width: 100%;
  display: grid;
  width: 50%;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: 1fr;
    grid-gap: 5rem;
  }

  .heading,
  .copy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .copy {
    width: 100%;
  }
}
