.container {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.btn {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.3rem 2rem;
  font-family: var(--SFUIMedium);
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 7px;
  width: 100%;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}

.orange {
  background-color: var(--orange);
  color: var(--white);
}

.orange:hover {
  background-color: var(--lightOrange);
}

.white {
  background-color: var(--white);
  color: var(--black);
}

.white:hover {
  background-color: var(--gray);
}

.blue {
  background-color: var(--blue);
  color: var(--white);
}

.blue:hover {
  background-color: var(--lightBlue);
}

.noBackgroundWhiteText {
  background-color: transparent;
  color: var(--white);
}

.noBackgroundBlueText {
  color: var(--white);
  background-color: var(--blue);
  padding: 0.5rem 0.8rem;
  padding-right: 1.4rem;
}

.noBackgroundBlackText {
  background-color: transparent;
  color: var(--black);
}

.blackOutline {
  background-color: transparent;
  color: var(--black);
  border: 1px solid var(--black);
}

.arrow {
  transform: rotate(45deg);
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
  position: relative;
  top: -1px;
}

.phone {
  width: 2rem;
  height: 2rem;
  position: relative;
  top: 2px;
}

.noBackgroundBlackText .arrow {
  color: var(--black);
}

.noBackgroundBlueText .arrow {
  color: var(--white);
}

.whiteNav {
  background-color: var(--white);
  color: var(--black);
  padding: 0.5rem 1.6rem;
  /* padding-right: 1.6rem; */
}

.arrow {
  transform: rotate(45deg);
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
  position: relative;
  top: -1px;
}

/* 
@media (hover: hover) and (pointer: fine) {
  .container:hover .arrow {
    transform: rotate(90deg) translateY(-5px);
  }
}

@media screen and (max-width: 868px) {
  .noBackgroundBlueText {
    border: 1px solid var(--lightBlue);
  }
} */
