.container {
  background-color: var(--gray);
  margin-top: -6rem;
}

.content {
  background-color: var(--blue);
  margin: 1rem;
  border-radius: 15px;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.heading {
  color: var(--white);
}

.copy {
  color: var(--white);
  width: 375px;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 50%;
}

.adminBtnContainer {
  width: 100%;
  display: grid;
  width: 50%;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .dogContainer {
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--white);
  border-radius: 50%;
} */

.dog {
  color: var(--white);
  width: 15rem;
  height: 15rem;
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: 1fr;
    grid-gap: 5rem;
  }

  .heading,
  .copy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .btnContainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }

  .adminBtnContainer {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .btnContainer {
    width: 80%;
  }
}

@media screen and (max-width: 568px) {
  .copy {
    width: 100%;
  }

  .btnContainer, .adminBtnContainer {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
