:root {
  --black: #2c2c2c;
  --blue: #0d47a1;
  --lightBlue: #5c6bc0;
  --lightBlueii: #2055A7;
  --orange: #ff7143;
  --lightOrange: rgba(255, 113, 67, 0.5);
  --gray: #edeff1;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-margin-top: 10px;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--SFUIRegular);
  overscroll-behavior: none;
}

html {
  font-size: 62.5%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: var(--black);
  font-family: var(--bebasNeue);
  text-transform: uppercase;
  hyphens: auto;
  line-height: 0.95;
}

h1 {
  font-size: 8rem;
  line-height: 1;
  /* letter-spacing: -.5px; */
  font-family: var(--bebasNeue);
}

h2 {
  /* font-weight: 500; */
  font-size: 7rem;
  /* letter-spacing: -1px; */
}

h3 {
  font-weight: 500;
  font-size: 5.6rem;
}

h4 {
  font-size: 4rem;
  font-weight: 500;
}

h5 {
  font-size: 2.8rem;
  font-weight: 500;
}

h6 {
  font-size: 1.9rem;
  font-weight: 500;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

p,
input,
textarea {
  hyphens: auto;
  font-size: 1.4rem;
  line-height: 1.3;
  text-transform: none;
}

input:focus,
textarea:focus {
  outline: none;
}

input,
textarea,
select,
button {
  font-size: 16px;
  line-height: 1.4;
}

/* .toastFont {
  font-family: var(--ABCSocialLight);
} */

/* ::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

::selection {
  background: var(--secondary);
}
::-moz-selection {
  background: var(--secondary);
} */

/* ::selection {
  background: var(--yellow);
  color: var(--black);
}
::-moz-selection {
  background: var(--yellow);
  color: var(--black);
} */

@media screen and (max-width: 968px) {
  html {
    font-size: 55%;
  }

  p {
    font-size: 113.7%;
  }

  input,
  textarea,
  select,
  button {
    font-size: initial;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 5.4rem;
  }


  input,
  textarea,
  select,
  button {
    font-size: initial;
  }
}

@media screen and (max-width: 568px) {
  html {
    font-size: 50%;
  }

  h1 {
    font-size: 13vw;
    line-height: 1.1;
  }

  input,
  textarea,
  select,
  button {
    font-size: initial;
  }
}

/* .toastFont {
} */

/* Only use in production */
/* @media screen and (max-width: 400px) {
  h1 {
    letter-spacing: -1px;
    font-size: 9vw;
  }
  h2 {
    letter-spacing: -2px;
    line-height: 110%;
  }
} */


.clipPath1 {
  clip-path: polygon(calc(100% - 0px) 16px, calc(100% - 0px) 16px, calc(100% - 0.20940099999996px) 13.40471592px, calc(100% - 0.81564799999992px) 10.94276096px, calc(100% - 1.785807px) 8.64707704px, calc(100% - 3.086944px) 6.55060608px, calc(100% - 4.686125px) 4.68629px, calc(100% - 6.550416px) 3.08707072px, calc(100% - 8.646883px) 1.78589016px, calc(100% - 10.942592px) 0.81569024px, calc(100% - 13.404609px) 0.20941288px, calc(100% - 16px) 0px, 16px 0px, 16px 0px, 13.40471592px 0.20941288px, 10.94276096px 0.81569024px, 8.64707704px 1.78589016px, 6.55060608px 3.08707072px, 4.68629px 4.68629px, 3.08707072px 6.55060608px, 1.78589016px 8.64707704px, 0.81569024px 10.94276096px, 0.20941288px 13.40471592px, 0px 16px, 0px calc(100% - 16px), 0px calc(100% - 16px), 0.20941288px calc(100% - 13.404609px), 0.81569024px calc(100% - 10.942592px), 1.78589016px calc(100% - 8.646883px), 3.08707072px calc(100% - 6.550416px), 4.68629px calc(100% - 4.686125px), 6.55060608px calc(100% - 3.086944px), 8.64707704px calc(100% - 1.785807px), 10.94276096px calc(100% - 0.81564800000001px), 13.40471592px calc(100% - 0.20940100000001px), 16px calc(100% - 0px), calc(100% - 47.494px) calc(100% - 0px), calc(100% - 47.494px) calc(100% - 0px), calc(100% - 46.07814px) calc(100% - 0.06269999999995px), calc(100% - 44.68424px) calc(100% - 0.24851999999993px), calc(100% - 43.31962px) calc(100% - 0.55404000000004px), calc(100% - 41.9916px) calc(100% - 0.97583999999998px), calc(100% - 40.7075px) calc(100% - 1.5105px), calc(100% - 39.47464px) calc(100% - 2.1546px), calc(100% - 38.30034px) calc(100% - 2.90472px), calc(100% - 37.19192px) calc(100% - 3.75744px), calc(100% - 36.1567px) calc(100% - 4.70934px), calc(100% - 35.202px) calc(100% - 5.757px), calc(100% - 3.708px) calc(100% - 43.55px), calc(100% - 3.708px) calc(100% - 43.55px), calc(100% - 3.021948px) calc(100% - 44.434368px), calc(100% - 2.402304px) calc(100% - 45.359944px), calc(100% - 1.850436px) calc(100% - 46.322936px), calc(100% - 1.367712px) calc(100% - 47.319552px), calc(100% - 0.9555px) calc(100% - 48.346px), calc(100% - 0.61516799999995px) calc(100% - 49.398488px), calc(100% - 0.34808399999997px) calc(100% - 50.473224px), calc(100% - 0.15561600000001px) calc(100% - 51.566416px), calc(100% - 0.039132000000023px) calc(100% - 52.674272px), calc(100% - 0px) calc(100% - 53.793px), calc(100% - 0px) 16px);
} 

.clipPath2 {
  clip-path: polygon( 3.226% 21.153%,3.226% 21.153%,2.703% 21.204%,2.206% 21.35%,1.743% 21.583%,1.321% 21.896%,0.945% 22.28%,0.622% 22.728%,0.36% 23.232%,0.164% 23.784%,0.042% 24.376%,0% 25%,0% 86.538%,0% 86.538%,0.042% 87.162%,0.164% 87.754%,0.36% 88.306%,0.622% 88.81%,0.945% 89.258%,1.321% 89.643%,1.743% 89.955%,2.206% 90.189%,2.703% 90.334%,3.226% 90.385%,44.516% 90.385%,44.516% 90.385%,45.039% 90.435%,45.536% 90.581%,45.999% 90.814%,46.421% 91.127%,46.797% 91.511%,47.12% 91.959%,47.382% 92.463%,47.577% 93.015%,47.7% 93.607%,47.742% 94.231%,47.742% 96.154%,47.742% 96.154%,47.784% 96.778%,47.906% 97.369%,48.102% 97.921%,48.364% 98.425%,48.687% 98.873%,49.063% 99.258%,49.485% 99.571%,49.948% 99.804%,50.444% 99.949%,50.968% 100%,93.065% 100%,93.065% 100%,93.588% 99.949%,94.084% 99.804%,94.547% 99.571%,94.97% 99.258%,95.346% 98.873%,95.668% 98.425%,95.93% 97.921%,96.126% 97.369%,96.248% 96.778%,96.29% 96.154%,96.29% 81.058%,96.29% 81.058%,96.315% 80.699%,96.385% 80.359%,96.497% 80.041%,96.648% 79.752%,96.834% 79.494%,97.05% 79.273%,97.293% 79.093%,97.559% 78.959%,97.844% 78.875%,98.145% 78.846%,98.145% 78.846%,98.446% 78.817%,98.731% 78.733%,98.998% 78.599%,99.241% 78.419%,99.457% 78.198%,99.642% 77.941%,99.793% 77.651%,99.905% 77.334%,99.976% 76.993%,100% 76.635%,100% 3.846%,100% 3.846%,99.958% 3.222%,99.836% 2.63%,99.64% 2.078%,99.378% 1.574%,99.055% 1.126%,98.679% 0.742%,98.257% 0.429%,97.794% 0.196%,97.297% 0.05%,96.774% -0%,14.516% -0%,14.516% -0%,13.993% 0.05%,13.497% 0.196%,13.034% 0.429%,12.611% 0.742%,12.235% 1.126%,11.913% 1.574%,11.65% 2.078%,11.455% 2.63%,11.333% 3.222%,11.29% 3.846%,11.29% 17.307%,11.29% 17.307%,11.248% 17.931%,11.126% 18.523%,10.93% 19.075%,10.668% 19.579%,10.346% 20.027%,9.97% 20.411%,9.547% 20.724%,9.084% 20.957%,8.588% 21.103%,8.065% 21.153%,3.226% 21.153% );
}

.clipPath3 {
  clip-path: polygon(calc(100% - 39.999px) 16px, calc(100% - 39.999px) 16px, calc(100% - 40.208401px) 13.40471592px, calc(100% - 40.814648px) 10.94276096px, calc(100% - 41.784807px) 8.64707704px, calc(100% - 43.085944px) 6.55060608px, calc(100% - 44.685125px) 4.68629px, calc(100% - 46.549416px) 3.08707072px, calc(100% - 48.645883px) 1.78589016px, calc(100% - 50.941592px) 0.81569024px, calc(100% - 53.403609px) 0.20941288px, calc(100% - 55.999px) 0px, 16.001px 0px, 16.001px 0px, 13.405710403736px 0.20941288px, 10.943750842448px 0.81569024px, 8.648063157392px 1.78589016px, 6.551589189824px 3.08707072px, 4.687270781px 4.68629px, 3.088049772176px 6.55060608px, 1.786868004608px 8.64707704px, 0.816667319552px 10.94276096px, 0.210389558264px 13.40471592px, 0.000976562px 16px, 0.000976562px 60.4999px, 0.000976562px 60.4999px, 0.151492928264px 62.3652687px, 0.587257079552px 64.1348096px, 1.284591594608px 65.7848449px, 2.219819052176px 67.2916968px, 3.369262031px 68.6316875px, 4.709243109824px 69.7811392px, 6.216084867392px 70.7163741px, 7.866109882448px 71.4137144px, 9.635640733736px 71.8494823px, 11.501px 72px, 11.501px 72px, 13.3663687px 72.1505177px, 15.1359096px 72.5862856px, 16.7859449px 73.2836259px, 18.2927968px 74.2188608px, 19.6327875px 75.3683125px, 20.7822392px 76.7083032px, 21.7174741px 78.2151551px, 22.4148144px 79.8651904px, 22.8505823px 81.6347313px, 23.0011px 83.5001px, 23.0011px 130.5px, 23.0011px 130.5px, 22.8505823px 132.365293px, 22.4148144px 134.134784px, 21.7174741px 135.784791px, 20.7822392px 137.291632px, 19.6327875px 138.631625px, 18.2927968px 139.781088px, 16.7859449px 140.716339px, 15.1359096px 141.413696px, 13.3663687px 141.849477px, 11.501px 142px, 11.501px 142px, 9.635640733736px 142.150523px, 7.866109882448px 142.586304px, 6.216084867392px 143.283661px, 4.709243109824px 144.218912px, 3.369262031px 145.368375px, 2.219819052176px 146.708368px, 1.284591594608px 148.215209px, 0.587257079552px 149.865216px, 0.151492928264px 151.634707px, 0.000976562px 153.5px, 0.000976562px calc(100% - 16px), 0.000976562px calc(100% - 16px), 0.210389828264px calc(100% - 13.404609px), 0.816668279552px calc(100% - 10.942592px), 1.786869894608px calc(100% - 8.646883px), 3.088052652176px calc(100% - 6.550416px), 4.687274531px calc(100% - 4.686125px), 6.551593509824px calc(100% - 3.086944px), 8.648067567392px calc(100% - 1.785807px), 10.943754682448px calc(100% - 0.81564800000001px), 13.405712833736px calc(100% - 0.20940100000001px), 16.001px calc(100% - 0px), calc(100% - 15.999px) calc(100% - 0px), calc(100% - 15.999px) calc(100% - 0px), calc(100% - 13.403609px) calc(100% - 0.2094009999999px), calc(100% - 10.941592px) calc(100% - 0.8156479999999px), calc(100% - 8.645883px) calc(100% - 1.785807px), calc(100% - 6.549416px) calc(100% - 3.0869439999999px), calc(100% - 4.685125px) calc(100% - 4.686125px), calc(100% - 3.0859439999999px) calc(100% - 6.550416px), calc(100% - 1.784807px) calc(100% - 8.646883px), calc(100% - 0.81464799999998px) calc(100% - 10.942592px), calc(100% - 0.20840099999998px) calc(100% - 13.404609px), calc(100% - -0.00099999999991951px) calc(100% - 16px), calc(100% - -0.00099999999997635px) 243px, calc(100% - -0.00099999999997635px) 243px, calc(100% - 0.10371400000002px) 241.702426px, calc(100% - 0.40687199999991px) 240.471488px, calc(100% - 0.891998px) 239.323662px, calc(100% - 1.542616px) 238.275424px, calc(100% - 2.34225px) 237.34325px, calc(100% - 3.274424px) 236.543616px, calc(100% - 4.322662px) 235.892998px, calc(100% - 5.470488px) 235.407872px, calc(100% - 6.701426px) 235.104714px, calc(100% - 7.9990000000001px) 235px, calc(100% - 7.999px) 235px, calc(100% - 9.296574px) 234.895286px, calc(100% - 10.527512px) 234.592128px, calc(100% - 11.675338px) 234.107002px, calc(100% - 12.723576px) 233.456384px, calc(100% - 13.65575px) 232.65675px, calc(100% - 14.455384px) 231.724576px, calc(100% - 15.106002px) 230.676338px, calc(100% - 15.591128px) 229.528512px, calc(100% - 15.894286px) 228.297574px, calc(100% - 15.999px) 227px, calc(100% - 15.999px) 173px, calc(100% - 15.999px) 173px, calc(100% - 15.894286px) 171.702426px, calc(100% - 15.591128px) 170.471488px, calc(100% - 15.106002px) 169.323662px, calc(100% - 14.455384px) 168.275424px, calc(100% - 13.65575px) 167.34325px, calc(100% - 12.723576px) 166.543616px, calc(100% - 11.675338px) 165.892998px, calc(100% - 10.527512px) 165.407872px, calc(100% - 9.296574px) 165.104714px, calc(100% - 7.9990000000001px) 165px, calc(100% - 7.999px) 165px, calc(100% - 6.701426px) 164.895286px, calc(100% - 5.4704879999999px) 164.592128px, calc(100% - 4.322662px) 164.107002px, calc(100% - 3.274424px) 163.456384px, calc(100% - 2.34225px) 162.65675px, calc(100% - 1.542616px) 161.724576px, calc(100% - 0.89199800000006px) 160.676338px, calc(100% - 0.40687199999996px) 159.528512px, calc(100% - 0.10371399999997px) 158.297574px, calc(100% - -0.00099999999991951px) 157px, calc(100% - -0.00099999999997635px) 56px, calc(100% - -0.00099999999997635px) 56px, calc(100% - 0.20840099999998px) 53.4047062px, calc(100% - 0.81464799999992px) 50.9427456px, calc(100% - 1.784807px) 48.6470594px, calc(100% - 3.085944px) 46.5505888px, calc(100% - 4.685125px) 44.686275px, calc(100% - 6.549416px) 43.0870592px, calc(100% - 8.645883px) 41.7858826px, calc(100% - 10.941592px) 40.8156864px, calc(100% - 13.403609px) 40.2094118px, calc(100% - 15.999px) 40px, calc(100% - 23.999px) 40px, calc(100% - 23.999px) 40px, calc(100% - 26.594148px) 39.7905882px, calc(100% - 29.056024px) 39.1843136px, calc(100% - 31.351676px) 38.2141174px, calc(100% - 33.448152px) 36.9129408px, calc(100% - 35.3125px) 35.313725px, calc(100% - 36.911768px) 33.4494112px, calc(100% - 38.213004px) 31.3529406px, calc(100% - 39.183256px) 29.0572544px, calc(100% - 39.789572px) 26.5952938px, calc(100% - 39.999px) 24px, calc(100% - 39.999px) 16px);
}