.formGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  color: var(--tan);
  font-family: var(--PPNeueMontrealMediumThick);
  text-transform: capitalize;
}

.inputWrapper {
  position: relative;
}

.input {
  padding: 1rem;
  padding-left: 1.5rem;
  border: 1px solid var(--text);
  border-radius: 50px;
  font-size: 1.6rem;
  position: relative;
  width: 100%;
}

.error {
  color: var(--pink);
}

.icon {
  color: var(--textii);
  cursor: pointer;
  position: absolute;
  top: calc(50% - 1.2rem);
  right: 1.5rem;
}
