.logo {
  cursor: pointer;
  font-family: var(--bebasNeue);
  z-index: 999;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 1px;
  color: var(--white);
  text-transform: uppercase;
}

.large {
  font-size: 7rem;
}

.footerLarge {
  font-size: inherit;
}

.tan {
  color: var(--tan);
}

.blackii {
  color: var(--blackii);
}

@media screen and (max-width: 1068px) {
  .logo {
    font-size: 5rem;
  }


}
