.logo {
  cursor: pointer;
  font-family: var(--bebasNeue);
  z-index: 999;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 1px;
  color: var(--white);
  text-transform: uppercase;
}

.large {
  font-size: 7rem;
}

.footerLarge {
  font-size: inherit;
}

.tan {
  color: var(--tan);
}

.blackii {
  color: var(--blackii);
}

@media screen and (max-width: 568px) {
  .logo {
    border-bottom-left-radius: 0px;
  }

  .center::before {
    height: 41px;
    top: auto;
    bottom: -40px;
    left: 0px;
    background-color: transparent;
    transform: rotate(0deg);
    border-top-left-radius: 15px;
    box-shadow: -1em -1rem var(--white);
  }
}
